<article class="o-wrap c-listing" itemscope itemtype="http://schema.org/Blog">
	<a href="" class="c-listing__link" itemprop="url">
		<h2 class="c-listing__heading" itemprop="name">{{{heading}}}</h2>

		<ul class="c-listing__meta-data">
			<li class="c-listing__meta-data__item">
				<time datetime="{{metaDate}}" pubdate="pubdate">{{{date}}}</time>
				<meta itemprop="dateCreated" content="{{metaDate}}">
			</li>
			<li class="c-listing__meta-data__item" itemprop="author">{{author}}</li>
			<li class="c-listing__meta-data__item c-listing__meta-data__item--visited u-hide-mobile">
				<span class="c-listing__visited-text">Seen</span>
				<span class="c-listing__visited-badge">
					<svg class="icon icon--check">
						<use xlink:href="#icon--check"></use>
					</svg>
				</span>
			</li>
		</ul>

		<div class="c-listing__description">
			{{{description}}}
		</div>
	</a>
</article>