<article class="c-case-study-card c-case-study--{{class}}">
	<a href="{{url}}" class="c-case-study-card__link">
		<header class="c-case-study-card__header">
			<h2 class="c-case-study-card__heading">{{heading}}</h2>
			<strong class="c-case-study-card__services u-highlight-text">{{services}}</strong>

			<div class="c-case-study-card__description">
				{{{description}}}
			</div>
		</header>

		<footer class="c-case-study-card__ctas">
			<span class="c-button c-button--primary">{{button}}
				<svg class="icon icon--arrow-right">
					<use xlink:href="#icon--arrow-right"></use>
				</svg>
			</span>
		</footer>
	</a>
</article>