{{#if main}}
	<header class="c-page__heading c-page__heading--main">
		<div class="o-wrap o-wrap--xx-large">
			<h1 class="c-page__heading__heading u-mega">{{{heading}}}</h1>

			<div class="c-page__heading__description u-intr">
				{{{description}}}
			</div>
		</div>
	</header>
{{/if}}

{{#if one-col}}
	<header class="c-page__heading c-page__heading--one-col c-page__heading--center-content">
		<div class="o-wrap o-wrap--x-large">
			<h1 class="c-page__heading__heading">{{{heading}}}</h1>
		
			<div class="c-page__heading__description u-intro">
				{{{description}}}
			</div>
		</div>
	</header>
{{/if}}

{{#if two-col}}
	<header class="o-section c-page__heading c-page__heading--two-col{{#if right}} c-page__heading--right-content{{/if}}">
		<div class="o-wrap o-wrap--xx-large">
			<div class="c-page__heading__row">
				<div class="c-page__heading__details">
					<h1 class="c-page__heading__heading">{{{heading}}}</h1>
				
					<div class="c-page__heading__description u-intro">
						{{{description}}}
					</div>
				</div>
				
				<figure class="c-page__heading__figure">
					<img src="{{image}}" alt="{{alt}}">
				</figure>
			</div>
		</div>
	</header>
{{/if}}